@use '../abstracts' as *;
// ======================
// Grid System
// ======================

.grid {
  display: grid;
  gap: $spacing-xl;

  &--2 {
    @include respond-to('md') {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  &--3 {
    @include respond-to('md') {
      grid-template-columns: repeat(2, 1fr);
    }

    @include respond-to('lg') {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  &--4 {
    grid-template-columns: repeat(2, 1fr);

    @include respond-to('lg') {
      grid-template-columns: repeat(4, 1fr);
    }
  }
}

.grid--gap-lg {
  gap: $spacing-2xl;
}
